article {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
  width: 180px;
  height: 220px;
}
#button {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 2px;
}
.test {
  justify-content: space-between;
}
#square1 {
  background-color: green;
}
#square3 {
  background-color: red;
}
.text-white {
  color: white;
}
#test2 {
  margin-left: 200px;
  border: yellow;
  border-radius: 5px;
  background-color: yellow;
  padding: 10px;
}
.bigger {
  font-size: large;
  font: bold;
}
